ios/TapGirl/TapGirl.xcodeproj/project.xcworkspace/xcuserdata/nakano_michiharu.xcuserdatad/UserInterfaceState.xcuserstate
ios/TapGirl/TapGirl.xcodeproj/xcuserdata/nakano_michiharu.xcuserdatad/xcschemes/TapGirl.xcscheme
ios/TapGirl/TapGirl.xcodeproj/xcuserdata/nakano_michiharu.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints.xcbkptlist
localize.py
