ios/TapGirl/TapGirl.xcodeproj/project.xcworkspace/xcuserdata/nakano_michiharu.xcuserdatad/UserInterfaceState.xcuserstate
ios/TapGirl/TapGirl.xcodeproj/xcuserdata/nakano_michiharu.xcuserdatad/xcschemes/TapGirl.xcscheme
ios/TapGirl/TapGirl.xcodeproj/xcuserdata/nakano_michiharu.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints.xcbkptlist
localize.py
jarlist.cache
android/bin/TapGirl.apk
android/bin/classes.dex
android/bin/classes/jp/lolipop/dcc/TapGirl/BuildConfig.class
android/bin/classes/jp/lolipop/dcc/TapGirl/R$attr.class
android/bin/classes/jp/lolipop/dcc/TapGirl/R$drawable.class
android/bin/classes/jp/lolipop/dcc/TapGirl/R$layout.class
android/bin/classes/jp/lolipop/dcc/TapGirl/R$string.class
android/bin/classes/jp/lolipop/dcc/TapGirl/R.class
android/bin/classes/jp/lolipop/dcc/TapGirl/TapGirlActivity.class
android/bin/resources.ap_
android/gen/jp/lolipop/dcc/TapGirl/BuildConfig.java
android/gen/jp/lolipop/dcc/TapGirl/R.java
MyGLUtil.class
IGLRenderer.class
MyRenderer.class
IGLShader.class
MyGLShader.class
CColor.class
CPrimitive.class
android/bin/classes/jp/lolipop/dcc/lib/AndroidFileIO.class
android/bin/classes/jp/lolipop/dcc/lib/FileIO.class
CTexture.class
MyRenderer$Step.class
android/bin/classes/jp/lolipop/dcc/TapGirl/CChangeData.class
android/bin/classes/jp/lolipop/dcc/TapGirl/CChangeParam.class
MyRenderer$CChangeWork.class
android/bin/res/drawable-hdpi/ic_launcher.png
android/bin/res/drawable-ldpi/ic_launcher.png
android/bin/res/drawable-mdpi/ic_launcher.png
android/bin/res/drawable-xhdpi/ic_launcher.png
CVec2D.class
MyRenderer$1.class
R$raw.class
android/bin/res/raw/graphic_facebook1.png
android/bin/res/raw/graphic_moreapps.png
android/bin/res/raw/graphic_sound_off.png
android/bin/res/raw/graphic_sound_on.png
android/bin/res/raw/graphic_twitter1.png
MyToggleButton.class
CDefines.class
